<div class="sidebar">
  <div class="logo-details">
    <i class="bx bxl-c-plus-plus icon"></i>
    <div class="logo_name">Hola Admin</div>
    <i class="bx bx-menu" id="btn"></i>
  </div>
  <ul class="nav-list">
    <li class="disabled">
      <i class="bx bx-search"></i>
      <input type="text" placeholder="Buscar..." />
      <span class="tooltip">Buscar</span>
    </li>
    <li class="">
      <a routerLink="/forms">
        <i class="bx bx-grid-alt"></i>
        <span class="links_name">Formularios</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
   <!--  <li>
      <a routerLink="/">
        <i class="bx bx-party"></i>
        <span class="links_name">Invitaciones</span>
      </a>
      <span class="tooltip">Invitaciones</span>
    </li>   -->
   
  
    <li class="disabled">
      <a>
        <i class="bx bx-user"></i>
        <span class="links_name">Mi perfil</span>
      </a>
      <span class="tooltip">Mi perfil</span>
    </li>
   
    <li class="profile">
      <div class="profile-details">
        <!--<img src="profile.jpg" alt="profileImg">-->
      </div>
      <i (click)="singOut()" class="bx bx-log-out" id="log_out"><span>salir</span></i>
    </li>
  </ul>
</div>
